<form action="/orders/save" method="POST">
  <input type="hidden" name="id" value="<%= order?.id %>" />
  <fieldset name="orderInfo">
    <legend>Order information</legend>
    <div class="form-field">
      <label for="datePlaced">Date Placed</label>
      <input id="datePlaced" name="datePlaced" type="date" valueAsDate="<%= order?.datePlaced %>" />
    </div>
    <div class="form-field">
      <label for="dateShipped">Date Shipped</label>
      <input id="dateShipped" name="dateShipped" type="date" valueAsDate="<%= order?.dateShipped %>" />
    </div>
  </fieldset>
  <button type="submit">
    <%= buttonText %>
  </button>
</form>
